---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Atlanta">
	<main class="">
		<Header />
		<section
			class="text-balance lg:mx-48 font-thin my-32 flex flex-col items-center justify-end"
		>
			<h2 class="text-center text-4xl block">Speciality in Looksmith.</h2>
			<p class="text-xl block my-5">
				Atlanta Multiservices. team of looksmith photographers and
				videographers is committed to supply you with the best possible
				images in interior design, hospitality, real estate and
				architecture. We are dedicated to make your content stand out
				from the crowd. With the added bonus of great care and quality
				of service.
			</p>
		</section>
	</main>
</Layout>
