---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Atlanta">
	<main class="">
		<Header />
		<Header />
	</main>
</Layout>
