<section
    class="grid grid-cols-10 grid-rows-6 gap-2 w-[80%] mx-auto h-dvh *:overflow-hidden *:border *:rounded-lg my-10"
>
    <div class="col-span-3 row-span-2"></div>
    <div class="col-span-2 row-span-2 col-start-4"></div>
    <div class="col-span-2 row-span-2 col-start-6"></div>
    <div class="col-span-3 row-span-3 col-start-8"></div>
    <div class="col-span-3 row-span-2 row-start-3"></div>
    <div class="col-span-4 row-span-2 col-start-4 row-start-3 border-none">
    </div>
    <div class="col-span-3 row-span-3 col-start-8 row-start-4"></div>
    <div class="col-span-4 row-span-2 row-start-5"></div>
    <div class="col-span-3 row-span-2 col-start-5 row-start-5"></div>
</section>

<style>
    section > div:nth-child(1) {
        background-image: url(/images/image1.webp);
        background-size: cover;
        background-position: bottom;
    }
    section > div:nth-child(2) {
        background-image: url(/images/image2.webp);
        background-size: cover;
        background-position: bottom;
    }
    section > div:nth-child(3) {
        background-image: url(/images/image3.webp);
        background-size: cover;
        background-position: bottom;
    }

    section > div:nth-child(4) {
        background-image: url(/images/image4.webp);
        background-size: cover;
        background-position: bottom;
    }
    section > div:nth-child(5) {
        background-image: url(/images/image5.webp);
        background-size: cover;
        background-position: bottom;
    }
    section > div:nth-child(6) {
        background-image: url(/images/logo.webp);
        background-size: cover;
        background-position: center;
    }
    section > div:nth-child(7) {
        background-image: url(/images/image6.webp);
        background-size: cover;
        background-position: center;
    }
    section > div:nth-child(8) {
        background-image: url(/images/image9.webp);
        background-size: cover;
        background-position: center;
    }
    section > div:nth-child(9) {
        background-image: url(/images/image8.webp);
        background-size: cover;
        background-position: center;
    }
</style>
