---

---

<header class="flex">
    <section class="bg-cyan-200 w-1/2">
        <h1>Slider</h1>
    </section>
    <aside class="bg-orange-700 w-1/2">
        <h1 class="">Find the easiest way to get what you need in Atlanta</h1>
    </aside>
</header>
