---
import { Button } from "./preact/Button";
import { Link } from "./preact/Link";
---

<header class="flex h-dvh justify-between text-white">
    <section
        id="slider"
        class="bg-cyan-200 w-full bg-cover flex flex-col justify-end"
    >
        <footer class="m-5 w-1/2">
            <Button> Looksmith </Button>
        </footer>
    </section>
    <aside class="bg-blue-800 w-2/3 flex flex-col justify-end">
        <h1 class="text-4xl font-light text-balance m-10">
            Find the easiest way to get the Locksmith you need in Atlanta
        </h1>
        <Link class="mx-10 my-3 border-white text-center" type="bordered">
            find a worker
        </Link>
    </aside>
</header>

<style>
    #slider {
        background-image: url(/images/image1.webp);
    }
</style>
