---
import { Button } from "./Button";
import { Link } from "./Link";
---

<header class="flex h-dvh justify-between">
    <section class="bg-cyan-200 w-full">
        <h1>Slider</h1>
    </section>
    <aside class="bg-pumking w-2/3 flex flex-col justify-end">
        <Link class="self-center my-2"> Standard </Link>
        <h1 class="text-4xl font-light text-balance m-10">
            Find the easiest way to get what you need in Atlanta
        </h1>
        <Link class="mx-10 my-3" type="bordered"> find a worker </Link>
    </aside>
</header>
