---
import { Link } from "./Link";
import Logo from "./Logo.astro";
---

<header class="fixed top-0 z-50 w-dvw h-16 flex items-center bg-transparent">
    <nav class="flex justify-between items-center w-full">
        <section
            class="text-2xl font-thin mx-10 mt-6 text-white flex items-center"
        >
            <a href="/" class="flex items-center">
                <Logo class="w-32" />
            </a>
        </section>
        <ul class="mr-1 mix-blend-difference">
            <Link class="box bg-gray-100 bg-opacity-10 mx-1 hover:bg-opacity-5">
                Expertise
            </Link>
            <Link class="bg-gray-100 bg-opacity-10 mx-1 hover:bg-opacity-5">
                Work
            </Link>
            <Link class="bg-gray-100 bg-opacity-10 mx-1 hover:bg-opacity-5">
                Contact
            </Link>
        </ul>
    </nav>
</header>
