---
import { Link } from "./Link";
---

<header class="fixed top-0 z-50 w-dvw h-16 flex items-center bg-transparent">
    <nav class="flex justify-between items-center w-full">
        <div class="w-10 bg-black text-white">Hola</div>
        <ul class="mr-1">
            <Link class="box bg-gray-100 bg-opacity-10 mx-1 hover:bg-opacity-5">
                Expertise
            </Link>
            <Link class="bg-gray-100 bg-opacity-10 mx-1 hover:bg-opacity-5">
                Work
            </Link>
            <Link class="bg-gray-100 bg-opacity-10 mx-1 hover:bg-opacity-5">
                Contact
            </Link>
        </ul>
    </nav>
</header>
